---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
	<div class="h-[calc(100vh-54px)] px-4 flex justify-center flex-col">
		<h1 class="text-2xl mb-6">Welcome to the public site</h1>
		<p>
			This site will examplify a usecase for our API - as a proof of concept. <br>
			Click a link in the menu to get startet.
		</p>
	</div>
</Layout>
