---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome">
	<h1>Welcome to the public site</h1>
	<p>
		This site will examplify a usecase for our API - as a proof of concept. <br>
		Click a link in the menu to get startet.
	</p>
</Layout>
