---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome heh">
	<main>
		<h1 class="p-10">Astro app</h1>
		<Card text="This is a card" />
	</main>
</Layout>
