---
import { API_BASE_URL, toBarPath } from "../utils/g"
const res = await fetch(`${API_BASE_URL}/api/v1/bars`);
const bars = await res.json();
---

<nav>
    <ul>
        {bars.map((bar) => {
            return (
                <li>
                    <a href={"/" + toBarPath(bar)}>{bar.bar_name}</a>
                </li>
                )
        })}
    </ul>
</nav>