---
import Tap from './Tap.astro'
import OffWallTap from './OffWallTap.astro'
const { taps, lang, strs } = Astro.props

const offTheWalls = taps.filter(tap => tap.tap_number == null);
const numberedTaps = taps.filter(tap => tap.tap_number !== null);
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {numberedTaps.map((tap) => {
        return <Tap tap={tap} lang={lang} strs={strs} />
    })}
</div>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <h2>
        <span>Off</span>
        <span>the</span>
        <span>Wall</span>
    </h2>
    {offTheWalls.map((tap) => {
        return <OffWallTap tap={tap} />
    })}
</div>