---
import Tap from './Tap.astro'
import OffWallTap from './OffWallTap.astro'
const { taps, lang, strs } = Astro.props

const offTheWalls = taps.filter(tap => tap.tap_number == null);
const numberedTaps = taps.filter(tap => tap.tap_number !== null);
---

<div class="col-span-full grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {numberedTaps.map((tap) => {
        return <Tap tap={tap} lang={lang} strs={strs} />
    })}
</div>

<div class="col-span-full h-[1px] bg-line"></div>

<div class="grid grid-cols-3 md:grid-cols-6 gap-6 lg:col-span-2">
    <h2 class="col-span-1 md:col-span-2 lg:col-span-3 text-3xl leading-none font-bold sm:text-5xl md:text-8xl">
        <span class="block">OFF</span>
        <span class="block">THE</span>
        <span class="block">WALL</span>
    </h2>
    <div class="col-span-2 lg:col-span-3 self-center">
        {offTheWalls.map((tap) => {
            return <OffWallTap tap={tap} />
        })}

    </div>
</div>