---
import Navigation from "../components/Navigation.astro"
const { title, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background text-primary" style="--tw-bg-opacity: 1">
		<Navigation />
		<main class="max-w-7xl mx-auto grid gap-4">
			<slot />
		</main>
	</body>
</html>
